<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <!-- Materialize CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style type="text/css">
      .risca {
        text-decoration: line-through;
      }
      .fle {
        display: flex;
      }
      .espaco {
        margin-bottom: 50%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  </head>
  <body>
    <div id="app">
      <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>
​
      <div class="container">
        <div class="section">
          <div class="add">
            <button id="show-modal" @click="showModal = true"
              class="btn-floating btn-large waves-effect waves-light red"
              ><i class="fa-solid fa-plus"></i
            ></button>
            <!-- Modal de add -->
            <div v-show="showModal" name="modal">
              <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container">
      
                    <div class="modal-header">
                      <slot name="header">
                        <div class="control" >
                          <h3>Adicionar nova tarefa</h3>
                        </div>
                      </slot>
                    </div>
      
                    <div class="modal-body">
                      <slot name="body">
                        <div class="control" >
                          <input
                            class="input" 
                            type="text"
                            placeholder="Nome da tarefa"
                            v-model="novaTarefa">
            
                        </div>
                      </slot>
                    </div>
      
                    <div class="modal-footer">
                      <slot name="footer">
                        <input
                            class="input" 
                            type="text"
                            placeholder="Tag de categoria"
                            v-model="tagDeCategoria">
                        
                        <div>
                          
                          <button class="modal-default-button espaco" @click="close(), add()">OK
                          </button>
                        </div>
                      </slot>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal de add fim -->
            
            <!-- use the modal component, pass in the prop -->
            <div v-if="showModal" @close="showModal = false">
              <!--
            you can use custom content here to overwrite
            default content
          -->

        </div>
          </div>
          <!--   Icon Section   -->
          <div class="row">
            <div class="control" >
              <input
                class="input" 
                type="text"
                placeholder="Pesquisar"
                @keyup="">

            </div>
            <!-- card de tarefa que repete para cada item do array -->
            <div v-for="tarefa in tasks" class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <p :class="{risca: tarefa.feita}">{{ tarefa.title }}</p>
                  <span :class="{risca: tarefa.feita}" class="projeto">{{ tarefa.project }}</span>
                </div>
                <div class="card-action fle">
                  <button class="fa fa-check" @click="tarefa.feita=true" v-show="!showModalEdit"></button>
                  <button @click="showModalEdit = true" v-show="!showModalEdit">EDITAR</button>
                  <!-- Modal de edit -->
                  <div v-show="showModalEdit" name="modal">
                    <div class="modal-mask">
                      <div class="modal-wrapper">
                        <div class="modal-container">
            
                          <div class="modal-header">
                            <slot name="header">
                              <div class="control" >
                                <h3>Editar tarefa</h3>
                              </div>
                            </slot>
                          </div>
            
                          <div class="modal-body">
                            <slot name="body">
                              <div class="control" >
                                <input
                                  class="input" 
                                  type="text"
                                  :placeholder=tarefa.title
                                  v-model="novaTarefa">
                              </div>
                            </slot>
                          </div>
            
                          <div class="modal-footer">
                            <slot name="footer">
                              <input
                                  class="input" 
                                  type="text"
                                  :placeholder=tarefa.project
                                  v-model="tagDeCategoria">
                              
                              <div>
                                
                                <button class="modal-default-button espaco" @click="close(), edit(tarefa)">OK
                                </button>
                              </div>
                            </slot>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal de edit fim -->

                  <button @click="remove(tarefa)" class="fa fa-trash" v-show="!showModalEdit"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
​
      <footer class="page-footer orange darken-3">
        <div class="footer-copyright">
          <div class="container">© 2022 Frontend</div>
        </div>
      </footer>
    </div>
    <!-- app -->
​
    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
​
    <script src="./todo.js"></script>

  </body>
</html>